fastapi==0.115.14
uvicorn==0.35.0
gunicorn==23.0.0
python-dotenv==1.1.1
pydantic==2.11.7
llama-index-core==0.12.27
llama-index-llms-azure-openai==0.3.2
llama-index-embeddings-azure-openai==0.3.2
llama-index-readers-file==0.4.2
pathlib==1.0.1  
llama-index==0.12.27
asgiref>=3.5.0
python-multipart==0.0.20
docx2txt==0.9
requests==2.32.4
