fastapi==0.115.12
uvicorn==0.27.0
gunicorn==23.0.0
python-dotenv==1.0.0
pydantic==2.8.0
llama-index-core==0.12.27
llama-index-llms-azure-openai==0.3.2
llama-index-embeddings-azure-openai==0.3.2
llama-index-readers-file==0.4.2
pathlib==1.0.1
llama-index==0.12.27
asgiref>=3.5.0
python-multipart==0.0.7
docx2txt==0.9
requests==2.32.4
